.container-button{
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 130px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.colorFondoNaranja {
    background-color: var(--naranja);
}

.colorFondoNegro {
    background-color: var(--negro);
}

.colorFondoGris {
    background-color: var(--gris);
}

.colorHoverNaranja:hover {
    background-color: var(--naranja-claro);
}

.colorHoverNegro:hover {
    background-color: var(--negro);
}

.colorHoverBlanco:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

.colorGris {
    color: gray;
}