.container-checkout{
    background-color: var(--gris);
    height: 100%;
    padding-bottom: 20px;
}

.container-checkout__sub-container{
    /* background-color: white; */
    width: 90%;
    margin: 0 auto;
}

.sub-container__checkout,
.sub-container__summary{
    background-color: white;
}

.sub-container__summary{
    margin: 20px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sub-container__checkout{
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sub-container__checkout__billing-details, 
.sub-container__checkout__shipping-info,
.sub-container__checkout__payment-details{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.checkout__billing-details__title, 
.checkout__shipping-info__title,
.checkout__payment-details__title{
    color: var(--naranja);
}

.checkout__billing-details__form, 
.checkout__shipping-info__form,
.checkout__payment-details__form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.billing-details__form__input, 
.shipping-info__form__input,
.payment-details__form__input,
.your-address{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.inputText{
    padding: 15px;
    border-radius: 8px;
    border-color: rgb(172, 172, 172);
    border-style: solid;
    border-width: 1px;
}

.inputText:focus{
    outline: none;
}

.sub-container__summary__cart-list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.sub-container__summary__cart-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-list__item__photo{
    width: 30%;
}

.cart-list__item__photo img{
    width: 100%;
    border-radius: 8px;
}

.cart-list__item__amount, 
.cart-list__item__overview__price{
    color: gray;
}

.sub-container__summary__detail{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sub-container__summary__detail__total,
.sub-container__summary__detail__shipping,
.sub-container__summary__detail__vat,
.sub-container__summary__detail__grand-total{
    display: flex;
    justify-content: space-between;
}

.sub-container__summary__detail__grand-total{
    margin-top: 15px;
}

.sub-container__summary__button{
    display: flex;
    justify-content: center;
}

.sub-container__checkout__title{
    font-size: 24px;
    font-weight: bold;
}

.sub-container__summary__title{
    font-size: 20px;
    font-weight: bold;
}

.sub-container__summary__cart-list__item-description{
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.cart-list__item__overview__description,
.cart-list__item__amount{
    font-weight: bold;
}


/* MODAL CONFIRMATION */

.container-modal-order{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}

.container-modal-order__description{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container-modal-order__detail__list{
    background-color: var(--gris);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

.container-modal-order__detail__total{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.container-modal-order__detail__list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-modal-order__detail__list__item-description{
    display: flex;
    column-gap: 15px;
    align-items: center;

}

.detail__list__item__overview__description{
    font-weight: bold;
}

.detail__list__item__overview__price{
    color: gray;
}

.detail__list__item__amount{
    color: gray;
    font-weight: bold;
}

.container-modal-order__detail__total{
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 10px;
    justify-content: center;
}

.container-modal-order__button{
    display: flex;
    justify-content: center;
}

.detail__list__item__photo{
    width: 30%;
}

.detail__list__item__photo img{
    width: 100%;
}

.sumary__detail__term{
    color: gray;
}

.sumary__detail__subtotal{
    font-weight: bold;
}

.sumary__detail__grandtotal{
    font-weight: bold;
    color: var(--naranja);
}

.container-modal-order__detail__total__term{
    color: gray;
}

.container-modal-order__detail__total__money{
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .checkout__billing-details__form,
    .checkout__shipping-info__form,
    .checkout__payment-details__form{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4%;
    }

    .billing-details__form__input,
    .shipping-info__form__input,
    .payment-details__form__input{
        width: 48%;
    }

    .your-address{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
    }

    .container-modal-order__detail{
        display: flex;
    }

    .container-modal-order__detail__list{
        width: 55%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .container-modal-order__detail__total{
        width: 45%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}

@media screen and (min-width: 992px) {
    .container-checkout__sub-container{
        display: flex;
        column-gap: 50px;
        width: 80%;
    }

    .sub-container__checkout{
        width: 70%;
        border-radius: 10px;
    }

    .sub-container__summary{
        margin: 0;
        width: 30%;
        border-radius: 10px;
    }
}