.container-downstairs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-downstairs__photo{
    width: 100%;
}

.container-downstairs__photo img{
    width: 100%;
    border-radius: 10px;
}

.container-downstairs__subtitle{
    font-size: 23px;
}

.container-downstairs__content{
    color: gray;
}

.container-downstairs__subtitle, .container-downstairs__content{
    text-align: center;
}

@media screen and (min-width: 576px) {
    .container-downstairs{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 992px) {
    .container-downstairs{
        flex-direction: row-reverse;
        width: 80%;
        align-items: center;
        column-gap: 100px;
    }

    .container-downstairs-imagen{
        width: 50%;
    }

    .container-downstairs__description{
        width: 50%;
    }

    .container-downstairs__subtitle{
        font-size: 40px;
    }

    .container-downstairs__content{
        margin-top: 40px;
    }
}