.container-footer{
    background-color: var(--negro-claro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px;
    row-gap: 45px;
    /* margin-top: 60px; */
}

.container-footer__title{
    font-size: 24px;
    font-weight: bold;
}

.container-footer__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 13px;
}

.container-footer__content{
    width: 80%;
    text-align: center;
    color: gray;
}

.container-footer__icons{
    display: flex;
    column-gap: 10px;
}

.container-footer__copyright{
    color: gray;
}

.container-footer__copyright-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

@media screen and (min-width: 576px) {
    .container-footer{
        align-items: flex-start;
        padding: 55px 45px;
    }

    .container-footer__menu{
        flex-direction: row;
        column-gap: 25px;
    }

    .container-footer__content{
        text-align: start;
        width: 95%;
    }

    .container-footer__copyright-icons{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-footer__icons{
        column-gap: 15px;
    }
}

@media screen and (min-width: 992px) {
    .container-footer{
        padding: 55px 160px;
    }
}