.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: var(--negro-claro);
    color: var(--blanco);
    align-items: center;
    border-bottom: solid 1px rgb(70, 70, 70);
}

.header-container__logo__term {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.badge-mark {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 18px;
    border-radius: 20%;
    background-color: tomato;
    font-size: 15px;
    color: #fff;
}

.header-container__menu-options{
    display: none;
}

@media screen and (min-width: 992px) {
    .header-container{
        padding: 30px 150px;
        border-bottom: var(--negro-claro);
    }

    .badge-mark {
        position: absolute;
        right: 150px;
        top: 28px;
    }

    .header-container__menu{
        display: none;
    }

    .header-container__menu-options{
        display: block;
    }

    .header-container__menu-options{
        display: flex;
        column-gap: 30px;
    }

    .header-container__menu-options a {
        text-decoration: none;
    color: white;
    }

    .border-header{
        background-color: var(--negro-claro);
    }

    .border-header-child{
        border-bottom: solid 1px rgb(70, 70, 70);
        width: 80%;
        margin: 0 auto;
    }

    .header-container__carrito{
        cursor: pointer;
    }

    .container-modal__header__remove{
        cursor: pointer;
    }
}