.container-modal{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    row-gap: 25px;
}

.container-modal__header{
    display: flex;
    justify-content: space-between;
}

.container-modal__list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.container-modal__list__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__photo{
    width: 31%;
}

.item__photo img{
    width: 100%;
    border-radius: 8px;
}

.item__overview__price{
    color: gray;
}

.item__amount{
    background-color: var(--gris);
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 5px 10px;
}

.container-modal__total{
    display: flex;
    justify-content: space-between;
}

.container-modal__button{
    display: flex;
    justify-content: center;
}

.container-modal__list__item-description{
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.item__overview__description,
.container-modal__header__cart,
.container-modal__total__amount{
    font-weight: bold;
}

.container-modal__header__remove{
    color: gray;
    text-decoration: underline;
}

.container-modal__total__term{
    color: gray;
}

.container-modal__total__amount{
    font-size: 18px;
}

@media screen and (min-width: 576px){
    .container-modal__list__item-description{
        column-gap: 30px;
    }
    .item__photo{
        width: 25%;
    }
}