.container-product{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.container-product__img{
    width: 100%;
}

.container-product__img img {
    width: 100%;
}

.container-product__gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.container-product__gallery img {
    width: 100%;
    border-radius: 15px;
}

.container-product__subtitle{
    color: var(--naranja);
}

.container-product__title{
    font-size: 24px;
}

.container-product__overview{
    color: gray;
}

.container-product__price{
    font-size: 18px;
    font-weight: bold;
}

.container-product__add-cart{
    display: flex;
    column-gap: 15px;
}

.container-product__add-cart__counter{
    background-color: var(--gris);
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 0px 15px;
}

.container-product__features__description{
    color: gray;
}

.container-product__box__quantity{
    color: var(--naranja);
}

.container-product__box__item{
    color: gray;
}
