.container-card-speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--naranja);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    row-gap: 20px;
    padding: 40px 0px;
    color: var(--blanco);
}

.container-card-speaker__photo{
    width: 50%;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.container-card-speaker__photo img{
    width: 80%;
}

.container-card-speaker__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.container-card-speaker__overview{
    text-align: center;
}