.container-card-product2{
    border-radius: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--gris);
}

.container-card-product2 .container-card-product2__name, .container-card-product2 .container-button{
    margin-left: 30px;
}

.container-card-product2__name{
    font-size: 26px;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .container-card-product2 .container-card-product2__name, .container-card-product2 .container-button{
        margin-left: 60px;
    }
}

@media screen and (min-width: 992px) {
    .container-card-product2 .container-card-product2__name, .container-card-product2 .container-button{
        margin-left: 90px;
    }
}