.container-card-speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--naranja);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    row-gap: 20px;
    padding: 40px 0px;
    color: var(--blanco);
}

.container-card-speaker__photo{
    width: 50%;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.container-card-speaker__photo img{
    width: 80%;
}

.container-card-speaker__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.container-card-speaker__overview{
    text-align: center;
    color: rgb(233, 233, 233);
    font-size: 14px;
}

.container-card-speaker-imagen{
    width: 60%;
    display: flex;
    justify-content: center;
}

.container-card-speaker__button{
    display: flex;
    justify-content: center;
}

.container-card-speaker-description{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .container-card-speaker{
        margin-top: 50px;
    }

    .container-card-speaker__overview{
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .container-card-speaker{
        width: 80%;
        flex-direction: row;
    }

    .container-card-speaker__button{
        justify-content: flex-start;
    }
    

    .container-card-speaker-description{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: 40%;
    }

    .container-card-speaker__name{
        align-items: flex-start;
        font-size: 50px;
    }

    .container-card-speaker__overview{
        text-align: start;
        width: 80%;
    }
}