/* HERO */
.container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    background-image: url("../../../assets/home/mobile/image-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 350px;
}

.container-hero__producto-overview{
    text-align: center;
}