/* HERO */
.container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    background-image: url("../../../assets/home/mobile/image-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 350px;
}

.container-hero__producto-overview{
    text-align: center;
}

.container-hero__category{
    color: gray;
}

.container-hero__producto-overview{
    color: rgb(188, 188, 188);
}

.container-hero__product-name{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .container-hero {
        background-image: url("../../../assets/home/tablet/image-header.jpg");
        margin-bottom: 50px;
    }
    .container-hero__producto-overview{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .container-hero {
        background-image: url("../../../assets/home/desktop/image-hero.jpg");
        align-items: flex-start;
        padding-left: 150px;
        height: 600px;
    }

    .container-hero__producto-overview{
        width: 25%;
        text-align: start;
    }

    .container-hero__product-name{
        font-size: 54px;
        width: 50%;
        text-align: start;
    }
}